body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    line-height: 1.6;
    max-width: 900px;
    margin-right: auto;
    margin-left: 40px; /* Adjust this value to increase or decrease left margin */
}

h1, h2 {
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

a {
    color: #0044cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc !important; /* Restores bullet points */
    padding-left: 20px; /* Adds indentation for bullets */
}


li {
    margin-bottom: 3px;
}

.toc ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
}

.toc li {
    margin-bottom: 3px; /* Adjust this value as needed */
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

footer {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #888;
}

body pre, body code {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body pre {
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: 20px;
}

body code {
    display: block;
    color: #333;
}
